<div class="like-button-container" data-pin-id="<%= pin.id %>">
  <%= pin.activities.select{|a| a.like?}.count %>

  <% if current_user.likes_pin?(pin) %>
    <%= link_to pin_unlike_path(pin), method: :post, :remote => true do %>
      <i class="material-icons">favorite</i>
    <% end %>
  <% else %>
    <%= link_to pin_like_path(pin), method: :post, :remote => true do %>
      <i class="material-icons">favorite_border</i>
    <% end %>
  <% end %>
</div>
