<%= link_to new_pin_path, class: "new-pin-card box card deep-orange lighten-5 pin-card-sm" do %>

  <div class="card-content center">
    <h5><i class="large material-icons">add_a_photo</i></h5>
    <h5>Add A Project</h5>
  </div>

<% end %>
