<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="card white">
      <%= form_for @pin, html: { multipart: true } do |f| %>

        <div class="card-content black-text">
          <span class="card-title">
            <h1 class="center">Editing Project</h1>
          </span>

          <%= render 'form_fields', f: f %>
        </div>

        <div class="card-action clearfix">
          <%= content_for :card_action %>
          <%= link_to 'Back', @pin, class: "left btn white grey-text" %>
        </div>

      <% end %>
    </div>
  </div>
</div>
