<div class="row">
  <div class="col s12 m8 l6 offset-m2 offset-l3">
    <div class="card white">
      <div class="card-content black-text">
        <span class="card-title">
          <h1>New Project</h1>
        </span>
      </div>
      <% content_for :card_action do %>
        <%= link_to 'Back', pins_path, class: "left btn white grey-text" %>
      <% end %>

      <%= render 'form' %>
    </div>
  </div>
</div>
