.breadcrumbs-container {
  height: $navbar-height;
  line-height: $navbar-height;

  .breadcrumb {
    color: color("grey", "darken-2");

    &:before {
      color: color("grey", "base");
    }

    .active-option {
      font-weight:bold;
    }
  }

  .breadcrumb:last-child {
    color: black;
  }
}
