<div class="container about center">
  <h5>About Us</h5>
  <h6>Fab Labs literally cure cancer.</h6>
  <hr>
  <div class="row">
    <div class="col s12 m4 l4">
      <h6>Story</h6>
      <p>Once upon a time a little boy made a sticker.</p>
      <p>It was awesome.</p>
    </div>
    <div class="col s12 m4 l4">
      <h6>Profile</h6>
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <img src="http://labs.qnimate.com/portfolio-materialize/images/profile.png" width="64" height="64">
          <p>You can blame this person for everything.</p>
        </div>
        <div class="card-action">
          <a href="#">E-mail</a>
          <a href='#'>Text</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <h6>Current Locations</h6>
      <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header"><i class="mdi-action-label"></i>Bristol, UK</div>
          <div class="collapsible-body"><p>Neil James</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-action-label"></i>Suwa, Japan</div>
          <div class="collapsible-body"><p>Pierre Lion</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-action-label"></i>Wayne, NJ USA</div>
          <div class="collapsible-body"><p>Chloe Echikson</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-action-label"></i>Willich, Germany</div>
          <div class="collapsible-body"><p>Jan Arpe</p></div>
        </li>
      </ul>
    </div>
