<div class="container about center">
  <h5>About Us</h5>
  <h6>Making A Big Difference At Saint-Gobain</h6>
  <hr>
  <div class="row">
    <div class="col s12 m4 l4">
      <h6>Story</h6>
      <p>Blurb on the network, its creation, activities, etc.</p>
    </div>
    <div class="col s12 m4 l4">
      <h6>Member Spotlight</h6>
      <div class="card red lighten-1">
        <div class="card-content white-text">
          <img src="http://labs.qnimate.com/portfolio-materialize/images/profile.png" width="64" height="64">
          <p>Profile on the notable Fab Lab team member/project initiator of the month.</p>
        </div>
        <div class="card-action">
          <a href="#">Project</a>
          <a href='#'>E-mail</a>
        </div>
      </div>
    </div>
    <div class="col s12 m4 l4">
      <h6>Contact Us</h6>
      <ul class="collapsible">
        <li class="active">
          <div class="collapsible-header"><i class="mdi-action-label"></i>Bristol, UK</div>
          <div class="collapsible-body"><p>Neil James</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-action-label"></i>Suwa, Japan</div>
          <div class="collapsible-body"><p>Pierre Lion</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-action-label"></i>Wayne, NJ USA</div>
          <div class="collapsible-body"><p>Chloe Echikson</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="mdi-action-label"></i>Willich, Germany</div>
          <div class="collapsible-body"><p>Jan Arpe</p></div>
        </li>
      </ul>
    </div>
