<div class="intro deep-orange lighten-2 z-depth-1">
  <h1 class="grey-text text-lighten-5">Welcome to the Fab Lab Hub!</h1>
  <h5 class="grey lighten-4 grey-text text-darken-1">Click here to <%= link_to "Sign Up", "#", class:"waves-effect waves-teal btn" %></h5>
</div>

