<div class="intro deep-orange lighten-2 z-depth-1">
  <h1 class="grey-text text-lighten-5">Welcome to the Fab Lab Hub!</h1>
  <h5 class="deep-orange lighten-2"><%= link_to "Log In", "#", class:"waves-effect waves-red grey darken-1 btn" %> <%= link_to "Sign Up", "#", class:"waves-effect waves-red btn" %></h5>
</div>

