<div class="parallax-container">
  <div class="parallax"><img src="images/pano6.jpg"></div>
</div>

<div class="section white">
  <div class="row">
    <div class="col s12">
      <h4 class="center">FAB LAB WAYNE HOURS</h4>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m6 l6 center">
      <strong>Tuesday</strong>
      <p>7am - 9am</p>
      <p>2pm - 4pm</p>
    </div>
    <div class="col s12 m6 l6 center">
      <strong>Thursday</strong>
      <p>7am - 9am</p>
      <p>2pm - 4pm</p>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="images/pano3.jpg"></div>
</div>

<div class="section white">
  <div class="row">
    <div class col="s12">
      <h4 class="center">MACHINES</h4>
    </div>
  </div>
  <div class="row">

    <div class="col s12 m4 l4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/3dprinter.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">3D Printer<i class="material-icons right">more_vert</i></span>
          <p><a href="#">GUIDE</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">3D Printer<i class="material-icons right">close</i></span>
          <p><strong>Model:</strong> Ultimaker2</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/lasercutter.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">3D Scanner<i class="material-icons right">more_vert</i></span>
          <p><a href="#">GUIDE</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">3D Scanner<i class="material-icons right">close</i></span>
          <p><strong>Manufacturer:</strong> 3D Systems</p>
          <P><strong>Model:</strong> Geomagic Capture</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/lasercutter.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">CNC Mill<i class="material-icons right">more_vert</i></span>
          <p><a href="#">GUIDE</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">CNC Mill<i class="material-icons right">close</i></span>
          <p><strong>Manufacturer:</strong> Roland</p>
          <p><strong>Model:</strong> MDX-40a</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col s12 m4 l4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/lasercutter.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Laser Cutter<i class="material-icons right">more_vert</i></span>
          <p><a href="#">Guide</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Laser Cutter<i class="material-icons right">close</i></span>
          <p><strong>Manufacturer:</strong> Epilog</p>
          <p><strong>Model:</strong> mini24 30 watt</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/vinylcutter.png">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Vinyl Cutter<i class="material-icons right">more_vert</i></span>
          <p><a href="https://sgpp.dozuki.com/Guide/Create+Your+Own+Decal+From+A+Google+Image+Search/4">Guide</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Vinyl Cutter<i class="material-icons right">close</i></span>
          <p><strong>Make:</strong> Roland</p>
          <p><strong>Model:</strong> CAMM-1 GS-24</p>
        </div>
      </div>
    </div>

    <div class="col s12 m4 l4">
      <div class="card small">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="images/lasercutter.gif">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Wire Bender<i class="material-icons right">more_vert</i></span>
          <p><a href="#">GUIDE</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Wire Bender<i class="material-icons right">close</i></span>
          <p><strong>Manufacturer:</strong> PensaLabs</p>
          <p><strong>Model:</strong> DIWire</p>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/pano5.jpg"></div>
</div>
