<%= render 'pages/home' unless user_signed_in? %>
<div class="container">
  <% if user_signed_in? %>
    <%= link_to new_pin_path do %>
      <h5 class="valign"><i class="material-icons">add_box</i> New Project</h5>
    <% end %>
  <% end %>

  <div id="pins" class="transitions-enabled">
    <% @pins.each do |pin| %>
      <%= render 'pins/pin_card', pin: pin %>
    <% end %>
  </div>

  <div class="center">
    <%= will_paginate @pins %>
  </div>
</div>
