.alert-notice{
  background-color: color("green", "lighten-3");
}

.alert-alert{
  background-color: color("deep-orange", "lighten-3");
}

.alert-nice{
  background-color: color("deep-orange", "lighten-5");
}
