.like-button-container {
  position: relative;

  .likes-button-inner {
    position: relative;
    display: inline-block;
  }

  .likes-count {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -0.3em;
    margin-top: -0.9em;
    font-weight: bold;
  }

  .liked {
    .likes-count {
      color: $card-bg-color;
    }
  }

  .unliked {
    .likes-count {
      color: $card-link-color;
    }
  }
}
