// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
}

.box {
  margin: 2px;
  width: 214px;

  img {
    width: 100%;
  }

  @media #{$tiny-and-down} {
    width: 100%;
    margin: 2px 0;
  }
}

.pin-card-sm {
  .card-content {
    padding: 10px 20px;
  }

  .card-action {
    padding: 10px 20px;

    .row {
      margin-bottom: 0;
    }

    .material-icons {
      font-size: $card-action-icon-font-size;
    }
  }

  .card-options {
    a {
      margin: 0 !important;
    }
  }
}

.pin-card-lg {
  position: relative;

  .card-title {
    text-align: center;
  }
}

.pin-tags {
  .pin-tag {
    height: 20px;
    font-size: 11px;
    line-height: 20px;
    padding: 0 10px;
    text-transform: none;
    margin-bottom: 4px
  }
}

.pin-card-uploads {
  .attachment-file-icon {
    font-size: 72px;
  }
}

.pin-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}
