// Place all the styles related to the pins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#pins {
  margin: 0 auto;
}

.box {
  margin: 2px;
  width: 214px;

  img {
    width: 100%;
  }

  @media #{$tiny-and-down} {
    width: 100%;
    margin: 2px 0;
  }
}

.pin-card-sm {
  .card-content {
    padding: 10px 20px;
  }

  .card-action {
    padding: 10px 20px;

    .row {
      margin-bottom: 0;
    }

    a {
      margin: 0 !important;
    }

    .material-icons {
      font-size: $card-action-icon-font-size;
    }
  }
}

.pin-card-lg {
  .card-title {
    text-align: center;
  }
}
