<% if crumbs.any? %>
  <div class="container breadcrumbs-container">
    <div class="col s12">
      <% crumbs.each do |(title, uri)| %>
        <% if uri %>
          <%= link_to title, uri, class: "breadcrumb" %>
        <% else %>
          <span class="breadcrumb"><%= title %></span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
